<% provide(:title, 'Help') %>
<h2><%= yield(:title) %></h2>
  <h4>Account</h4>
    <ul>
      <li>How to sign up our system.
      <li>How to sign in.
      <li>How to edit your user profile.
      <li>How to change the password.
      <li>What is "gravatar"?
      <li>How to set a gravatar image what you like.
    </ul>
  <h4>Top page</h4>
    <ul>
      <li>What is displayed in the left column?
      <li>How to see other users accounting.
    </ul>
  <h4>Micropost</h4>

  <h4>Database</h4>
    <p>Sorry. Database application is now under construction.</p>

<p>This is help page for the Database site.</p>
