// Place all the styles related to the Sequences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img.gene-map {
  height: 10px;
  margin: 0px;
  padding: 0px;
  border: 0px;
}
img.gene-head {
  height: 40px;
  margin: 0px;
  padding: 0px;
  border: 0px;
}
div.gbheader {
  font-family: monospace;
  margin: 5px 20px;
  padding: 0px;
}
div.gbfeatures {
  width: 600px;
  word-break: break-all;
  font-family: monospace;
  margin: 0px;
  padding: 0px 0px 0px 100px;
  text-indent: -5em;
}
div.seqfigure {
  width: 600px;
  margin: 0px 10px;
  padding: 0px 10px;
}
div.actions {
  margin: 10px 5px;
  font-size: large;
}

textarea.sequence {
  width: 550px;
}
