<footer class="footer">
  <small>
    Powered by <a href="http://railstutorial.jp/">Rails Tutorial</a>.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <% if signed_in? %>
        <li><%= link_to "Manage DB", "http://sagittarius.nih.go.jp/" %></li>
      <% end %>
    </ul>
  </nav>
</footer>

